<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

 
  <ion-tab title="Control panel" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/ctrlPanel">
    <ion-nav-view name="ctrl-panel"></ion-nav-view>
  </ion-tab>

 <ion-tab title="Google Maps" icon-off="ios-map" icon-on="ios-map-outline" href="#/tab/googleMap">
    <ion-nav-view name="googleMap"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Log Out" icon-off="ion-android-exit" icon-on="ion-android-exit" href="/logout">
      <ion-nav-view name="log-out"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
